<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_juesenicheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{117,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,37}}</string>
                <key>sourceSize</key>
                <string>{117,37}</string>
            </dict>
            <key>bg_public_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,357},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>icon_jinpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,354},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>icon_shizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,130},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>icon_tongpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,345},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>icon_touxiang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,41},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>icon_touxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,139},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>icon_touxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>icon_touxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,293},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>icon_touxiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,229},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>icon_touxiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,229},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>icon_touxiang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,293},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>icon_xunzhang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{100,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,123}</string>
            </dict>
            <key>icon_yinpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>img_biaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,354},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>img_public_wutouxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>openData.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:114504ab6a2e319ae617c0276a147b54$</string>
            <key>textureFileName</key>
            <string>openData.png</string>
        </dict>
    </dict>
</plist>
